<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="87bdab">  <td>17/11/26 21:05:20</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;AbstractTestNGSpringContextTests.springTestContextBeforeTestClass()[pri:0, instance:automationFramework.TestNG@48524010]">&gt;&gt;springTestContextBeforeTestClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1276504061</td>   <td></td> </tr>
<tr bgcolor="87bdab">  <td>17/11/26 21:05:20</td>   <td>8</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;AbstractTestNGSpringContextTests.springTestContextPrepareTestInstance()[pri:0, instance:automationFramework.TestNG@48524010]">&gt;&gt;springTestContextPrepareTestInstance</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1276504061</td>   <td></td> </tr>
<tr bgcolor="87bdab">  <td>17/11/26 21:05:27</td>   <td>6819</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;AbstractTestNGSpringContextTests.springTestContextBeforeTestMethod(java.lang.reflect.Method)[pri:0, instance:automationFramework.TestNG@48524010]">&gt;&gt;springTestContextBeforeTestMethod</td> 
<td>&nbsp;</td>  <td>main@1276504061</td>   <td></td> </tr>
<tr bgcolor="bca669">  <td>17/11/26 21:05:27</td>   <td>6820</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestNG.beforeMethod()[pri:0, instance:automationFramework.TestNG@48524010]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@1276504061</td>   <td></td> </tr>
<tr bgcolor="bca669">  <td>17/11/26 21:05:27</td>   <td>6820</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestNG.f()[pri:0, instance:automationFramework.TestNG@48524010]">f</td> 
  <td>main@1276504061</td>   <td></td> </tr>
<tr bgcolor="bca669">  <td>17/11/26 21:05:28</td>   <td>7400</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestNG.afterMethod()[pri:0, instance:automationFramework.TestNG@48524010]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@1276504061</td>   <td></td> </tr>
<tr bgcolor="87bdab">  <td>17/11/26 21:05:28</td>   <td>7403</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AbstractTestNGSpringContextTests.springTestContextAfterTestMethod(java.lang.reflect.Method)[pri:0, instance:automationFramework.TestNG@48524010]">&lt;&lt;springTestContextAfterTestMethod</td> 
<td>&nbsp;</td>  <td>main@1276504061</td>   <td></td> </tr>
<tr bgcolor="87bdab">  <td>17/11/26 21:05:28</td>   <td>7404</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AbstractTestNGSpringContextTests.springTestContextAfterTestClass()[pri:0, instance:automationFramework.TestNG@48524010]">&lt;&lt;springTestContextAfterTestClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1276504061</td>   <td></td> </tr>
</table>
